<h1>LOG IN</h1>

<form action="/login" method="POST">
    <label>UserName:</label>
    <input name="yourName" type="text" placeholder="Your Username">
    <br>
    <label>Password:</label>
    <input name="yourPassword" type="password" placeholder="Your Password">
    <br>
    <button type="submit">Log in</button>
</form>

{{#if msg}}
    <div class='error'>{{msg}}</div>
{{/if}}