<h1>LOG IN</h1>

<form action="/login" method="POST">
    <label>Email:</label>
    <input name="email" type="email" placeholder="Your Email">
    <br>
    <label>Password:</label>
    <input name="password" type="password" placeholder="Your Password">
    <br>
    <button type="submit">Log in</button>
</form>

{{#if msg}}
    <div class='error'>{{msg}}</div>
{{/if}}