<h1>SIGN UP</h1>

<form action="/signup" method="POST">
    <label>Full name:</label>
    <input name="name" type="text" placeholder="John Doe">
    <br>
    <label>Your email:</label>
    <input name="email" type="email" placeholder="johndoe@ngo.com">
    <br>
    <label>Password:</label>
    <input name="password" type="password" placeholder="Your Password">
    <br>
    <button type="submit">Sign Up</button>
</form>

{{#if msg}}
    <div class='error'>{{msg}}</div>
{{/if}}