{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}
<div class="homepage">
<h2>Advancing Peace & Global Well-Being </h2>
<p>The Global Non-Governmental Organizations (Global NGO) is an international organization uniting NGOs worldwide in the cause of advancing peace and global well-being. Global NGO helps to provide the mechanism and support needed for NGOs to connect, partner and multiply their contributions to solve humanity's basic problems.</p>
</div>


  

