<h1>Advancing Peace & Global Well-Being</h1>
<div class="homepage">
  <img src="../images/header.jpg" alt="presentation" />
  <p>
    The Global NON GOVERNMENTAL ORGANIZATIONS (Global NGO) is an international
    organization uniting NGOs worldwide in the cause of advancing peace and
    global well-being. Global NGO helps to provide the mechanism and support
    needed for NGOs to connect, partner and multiply their contributions to
    solve humanity's basic problems. If you want to help others this is your
    page! Here, you will not only find information of organizations with
    different purposes, you will also have the opportunity to find the NGO that
    best suits you and your needs. In this way, you will be able to help others
    who need help in an easy and safe way. Don't waste your time anymore looking
    for your NGO and get to know us!
  </p>
</div>

