<h1>Hello {{result.name}}, you are creating a new NGO</h1>
<form action="/new-ngo/{{result._id}}" method="POST">
    <label>Name</label>
    <input name="name" type="email" placeholder="johndoe@ngo.com">
    <br>
    <label>Description:</label>
    <input name="information" type="password" placeholder="Your Password">
    <br>
    <label>Image:</label>
    <input name="images" type="password" placeholder="Your Password">
    <br>
    <label>Web-site:</label>
    <input name="url" type="password" placeholder="Your Password">
    <br>
    <label>Category:</label>
    <input name="key" type="password" placeholder="Your Password">
    <br>

    <button type="submit">Create new NGO</button>

</form>