
<h1>{{result.name}}</h1>
<p class="p-info">{{result.information}}</p>

<div class="ngo-info">
  {{#each result.images}}
  {{#if @last}}
    <img src="{{this}}"alt="img">
  {{/if}}
 {{/each}}

  {{#if logged}}
  <a href="#" class="donate-button">Donate</a>
  {{else}}
  <div class="information">
    <p>Create an account or log In for donate</p>
    <div class="auth-bottons">
      <a href="/signup">Create Account</a>
      <a href="/login">Log IN</a>
    </div>
  </div>
  {{/if}}
</div>

