<h1>NGOS </h1>

<form action="/ngos" method="POST">
  <h3>What type of NGO are you looking for?</h3>
<select name="key" size="1">
  <option disabled>Select the type</option>
  <option value="all" selected>All</option>
  <option value="environment">environment</option>
  <option value="animals">animals</option>
  <option value="health">health</option>
  <option value="education">education</option>
</select>
<button type="submit">Filter</button>
</form>

{{#each data}}
  <a href="/ngo-info/{{this._id}}">
   {{#each this.images}}
    {{#if @last}} <img src="{{this}}" alt="ngo img"> {{/if}}
   {{/each}}
    <h3>{{this.name}}</h3>
  </a>
{{/each}}

 <a href="/profile"><button>DONATE</button></a>